body,html{
  /* background:#832937; */
}

.navbar-container{
  width: 100%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background: #0F3460;
}
.navbar-container span{
  color:white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 3px;
  transition: all 0.4s;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.navbar-container span:hover{
  border-bottom: 2px solid #E94560;
}
.navbar-container span a{
  color: white;
  outline:none;
  border: none;
  text-decoration: none;
}